body{
    background-color: rgb(235, 237, 229);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(52, 52, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#number{
    font-size: 70px;
    color: grey;
}
button{
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    letter-spacing: 3px;
    margin: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.content{
    text-align: center;
}
button:hover{
    background-color: black;
    color: white;
}
